lock
lcp-echo-failure 0
lcp-echo-interval 0
ipcp-accept-local
ipcp-accept-remote
noipdefault
defaultroute
replacedefaultroute
usepeerdns
noauth

connect "/usr/sbin/chat -v -f /etc/ppp/chat/jupiter-lte"

/dev/ttyUSB2
115200

# Add carrier auth on the device when required:
# user "<username>"
# password "<password>"
